<div class="container">
  <h1>Houses for rent</h1>
  <% flash.each do |key, message| %>
    <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% @listings.each do |listing| %>
    <%= render "listing", listing: listing %>
  <% end %>
</div>